<form action="/user/create" method="POST" role="form" class="new">
	<div class="form-group">
	<h2>Create a user</h2>

<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>
	
	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="email_address" name="email_address">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="birth_date" name="birth_date">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="first_name" name="first_name">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="last_name" name="last_name">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="country" name="country">
	</div>

	<div class="control-group" style = "width: 300px;">
	<input type="text" class="form-control" placeholder="gender" name="gender">
	</div>

	</div>
	<input type="submit" value="Submit" class="btn btn-default"/> | 
	<a href="/user">Back to list</a>
</form>